:root {
  --primary-yellow: #f1e217;
  --earth-brown: #713e24;
  --white: #ffffff;
  --leaf-green: #a3c585;
  --lavender-gray: #cbb4d4;
  --deep-plum: #5e2750;
  --light-beige: #f5f0e1;
  --dusty-blue: #7daea3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--light-beige);
}

.content-container {
  background: var(--white);
  padding: 35px 30px;
  border-radius: 16px;
  text-align: center;
  width: 100%;
  max-width: 380px;
}
h3 {
    font-size: 20px;
  color: var(--deep-plum);
  text-align: left;
}


input {
  width: 100%;
  padding: 12px;
  border: 1.5px solid var(--dusty-blue);
  border-radius: 10px;
  background: var(--light-beige);
  color: var(--earth-brown);
  font-size: 14px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: var(--leaf-green);
  outline: none;
}

input[type="submit"] {
  background: var(--leaf-green);
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 14px;
  width: 100%;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background: var(--dusty-blue);
}

.try-again {
  font-size: 14px;
  margin-top: 15px;
}

.try-again a {
  text-decoration: none;
  color: var(--primary-yellow);
  font-weight: 600;
  transition: color 0.3s ease;
}

.try-again a:hover {
  color: var(--deep-plum);
}
