:root {
  --primary-yellow: #f1e217;
  --earth-brown: #713e24;
  --white: #ffffff;
  --leaf-green: #a3c585;
  --lavender-gray: #cbb4d4;
  --deep-plum: #5e2750;
  --light-beige: #f5f0e1;
  --dusty-blue: #7daea3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--light-beige);
  padding: 20px;
}

.container-content {
  background: var(--white);
  padding: 40px 30px;
  border-radius: 16px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.container-content img {
  width: 90px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: var(--lavender-gray);
  padding: 6px;
}

.forgot-label {
    text-align: left;
  font-size: 22px;
  font-weight: 600;
  color: var(--deep-plum);
  margin-bottom: 8px;
}

.email-label {
  font-size: 14px;
  color: var(--earth-brown);
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1.5px solid var(--dusty-blue);
  border-radius: 10px;
  background: var(--light-beige);
  font-size: 14px;
  color: var(--earth-brown);
  margin-bottom: 18px;
  transition: 0.3s ease;
}

input[type="email"]:focus {
  border-color: var(--leaf-green);
  background-color: #ffffff;
  outline: none;
}

input[type="submit"] {
  background: var(--leaf-green);
  color: var(--white);
  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background: var(--dusty-blue);
}

.back {
  margin-top: 14px;
  background: none;
  border: 2px solid var(--leaf-green);
  color: var(--leaf-green);
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  width: 100%;
}

.back:hover {
  background: var(--leaf-green);
  color: var(--white);
}

/* Responsive design */
@media (max-width: 420px) {
  .container-content {
    padding: 30px 20px;
  }
}
