:root {
  --primary-yellow: #f1e217;
  --earth-brown: #713e24;
  --white: #ffffff;
  --leaf-green: #a3c585;
  --lavender-gray: #cbb4d4;
  --deep-plum: #5e2750;
  --light-beige: #f5f0e1;
  --dusty-blue: #7daea3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--light-beige);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background-color: var(--white);
  padding: 40px 35px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.logo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 20px;
  border-radius: 50%;
  padding: 10px;
}

h3 {
  font-size: 20px;
  color: var(--deep-plum);
  text-align: left;
}

input {
  width: 100%;
  padding: 14px;
  margin: 10px 0;
  border: 1.5px solid var(--dusty-blue);
  border-radius: 10px;
  outline: none;
  background-color: var(--light-beige);
  color: var(--earth-brown);
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: var(--leaf-green);
}

input[type="submit"] {
  background-color: var(--leaf-green);
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
  padding: 14px;
}

input[type="submit"]:hover {
  background-color: var(--dusty-blue);
}

.forget{
    text-align: right;
}

.forget, .signup {
  font-size: 14px;
  color: var(--earth-brown);
}

.forget a, .signup a {
  text-decoration: none;
  color: var(--primary-yellow);
  font-weight: 600;
  transition: color 0.3s ease;
}

.forget a:hover, .signup a:hover {
  color: var(--deep-plum);
}
